$color-theme: rgba(243,217,83,1);

$color-background: $color-theme;
$color-white-background: rgba(255,255,255,1);
$color-grey-background: rgba(225,225,225,1);

$color-text: rgba(11,11,9,1);
$color-text-ll: rgba(225, 225, 225, 1);
$color-text-l: rgba(181, 181, 181, 0.8);

$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;