.calendar-header {
  background-color: $color-background;
  .type {
    margin: 18px;
    font-size: $font-size-large;
    font-weight: 420;
  }
  .calendar {
    margin: 10px;
    border-radius: 8px;
    border: solid 1px black;
    display: grid;
    overflow: hidden;
    grid-template-columns: 33.33% 33.33% 33.33%;
    .cell {
      font-size: $font-size-small;
      padding: 8px;
      &:nth-child(1) {
        border-right: 1px solid black;
      }
      &:nth-child(2) {
        border-right: 1px solid black;
      }
    }
    .active {
      background-color: black;
      color: $color-theme;
    }
  }
}
