.line-chart {
  background-color: $color-white-background;
  .chart-wrapper {
    text-align: start;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding-bottom: 6px;
    .balance {
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
      margin: 0px 6px 8px 6px;
      padding: 16px 0;
      color: $color-text-ll;
      p:nth-child(2) {
        margin-top: 3px;
        font-size: $font-size-medium;
      }
    }
  }
}
