.app {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  .form-wrapper {
    position: relative;
    top: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
