.user {
  z-index: 0;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  background-color: $color-light-grey-background;
  .header-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
    overflow: hidden;
    height: 320px;
    text-align: start;
  }
  .card-wrapper {
    display: relative;
    padding-top: 235px;
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0px;
    }
  }
}

.detail-wrapper {
  display: flex;
  align-items: center;
  height: 64%;
  font-family: fantasy;
  .calendar {
    flex-grow: 1;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.4);
    padding-left: 6px;
    padding-right: 12px;
    .title {
      color: $color-text-l;
      font-size: $font-size-small;
      margin-bottom: 0.4rem;
    }
    .content {
      color: $color-text;
      font-size: $font-size-large;
      span {
        font-size: $font-size-medium;
      }
    }
    .icon {
      display: inline-block;
    }
  }
  .detail {
    flex-grow: 2;
    .title {
      color: $color-text-l;
      font-size: $font-size-small;
      margin-bottom: 0.4rem;
    }
    .content {
      color: $color-text;
      font-size: $font-size-large;
      span {
        font-size: $font-size-medium;
      }
    }
  }
}
